<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.datum.mfs.utils"
        version="0.1.0">

  <name>MFSUtils</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/hello.js" target="js/hello.js"/>
  <asset src="www/gps_check.js" target="js/gps_check.js"/>

  <js-module src="www/hello.js" name="hello">
    <clobbers target="hello" />
  </js-module>
  <js-module src="www/gps_check.js" name="gpscheck">
    <clobbers target="gpscheck" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <!-- <feature name="Hello">
        <param name="android-package" value="com.example.plugin.Hello"/>
      </feature> -->
      <feature name="GPSCheck">
        <param name="android-package" value="com.datum.mfs.utils.GPSCheck"/>
      </feature>
    </config-file>

    <!-- <source-file src="src/android/Hello.java" target-dir="src/com/example/plugin/"/> -->
    <source-file src="src/android/GPSCheck.java" target-dir="src/com/datum/mfs/utils/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Hello">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>
  </platform>

  

</plugin>